@import 'tailwindcss';

:root {
  --background: #f9f8f6;
  --foreground: #022b1b;
  --secondary: #454746;
  --elevated: #ffffff;
  --neutral: #022b1b1f;
  --primary: #00d37f;
  --link: #454745;
  --content: #6a6d6c;
}

.icon-white {
  filter: brightness(0) invert(1);
}

@theme {
  --font-title: 'Manrope';
  --font-text: 'Inter';
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-elevated: var(--elevated);
  --color-neutral: var(--neutral);
  --color-primary: var(--primary);
  --color-link: var(--link);
  --color-content: var(--content);
  --radius-5xl: 2.5rem;
  --tracking-zero: 0;
  --leading-100: 100%;
  --leading-120: 120%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-title: 'Manrope';
    --font-text: 'Inter';
    --background: #f9f8f6;
    --foreground: #022b1b;
  }
}

@keyframes carouselScroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-33.333%);
  }
}

.carousel-track {
  animation: carouselScroll 330s linear infinite;
}

body {
  @apply bg-background text-foreground font-text;
}

.container {
  @apply max-w-[1440px] w-full mx-auto;
}

.container-none {
  @apply max-w-full w-full;
}

#nprogress .bar {
  background: #10b981 !important;
  /* зелёный */
  height: 3px !important;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}
