@import 'tailwindcss';

:root {
  --background: #cfdfd9;
  --foreground: #16372d;
}

@theme {
  --font-title: 'Unbounded';
  --font-text: 'Inter';
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-title: 'Unbounded';
    --font-text: 'Inter';
    --background: #cfdfd9;
    --foreground: #16372d;
  }
}

body {
  @apply bg-background text-foreground font-text;
}

.container {
  @apply max-w-[1200px] px-[15px] w-full mx-auto;
}
