@import 'tailwindcss';

@theme {
    --font-title: 'Tinos';
    --font-text: 'Inter';

    --color-background: #F5F4F1;
    --color-foreground: #2F4F3E;
    --color-text: #1c1c1c;
    --color-text-secondary: #555555;
    --color-text-accent: #27A430;
    --color-white: #FFFFFF;
    --color-gray-100: #f3f4f6;
    --color-gray-200: #e5e7eb;
    --color-gray-300: #d1d5db;
    --color-gray-400: #9ca3af;
    --color-gray-500: #6b7280;
}

body {
    @apply font-text m-0 bg-background text-text;
}

.container {
    @apply max-w-[1170px] mx-auto px-4 lg:px-6;
}

@keyframes slide-fade-in {
    from {
        opacity: 0;
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-slide-fade {
    animation: slide-fade-in 0.5s ease-out forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate-fade-in {
    animation: fade-in 0.3s ease-out forwards;
}