@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@600&display=swap');
@import 'tailwindcss';
@import '../../../public/styles/fonts.css';

:root {
  --background: #cfdfd9;
  --foreground: #16372d;
}

@theme inline {
  --font-title: 'Unbounded';
  --font-text: 'SF Pro';
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-title: 'Unbounded';
    --font-text: 'SF Pro';
    --background: #cfdfd9;
    --foreground: #16372d;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'SF Pro';
}
